<div class="d-flex justify-content-center">
  <div class="col-12 col-lg-8">
    @if (task(); as taskRef) {
      <div>
        <h2 data-cy="taskDetailsHeading"><span jhiTranslate="gestionTachesApp.task.detail.title">Task</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="gestionTachesApp.task.title">Title</span></dt>
          <dd>
            <span>{{ taskRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="gestionTachesApp.task.description">Description</span></dt>
          <dd>
            <span>{{ taskRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="gestionTachesApp.task.type">Type</span></dt>
          <dd>
            <span [jhiTranslate]="'gestionTachesApp.IssueType.' + (taskRef.type ?? 'null')">{{
              { null: '', STORY: 'STORY', BUG: 'BUG', TASK: 'TASK', SUBTASK: 'SUBTASK', IMPROVEMENT: 'IMPROVEMENT' }[taskRef.type ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gestionTachesApp.task.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'gestionTachesApp.IssueStatus.' + (taskRef.status ?? 'null')">{{
              {
                null: '',
                BACKLOG: 'BACKLOG',
                TODO: 'TODO',
                IN_PROGRESS: 'IN_PROGRESS',
                IN_REVIEW: 'IN_REVIEW',
                DONE: 'DONE',
                CANCELLED: 'CANCELLED',
              }[taskRef.status ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gestionTachesApp.task.priority">Priority</span></dt>
          <dd>
            <span [jhiTranslate]="'gestionTachesApp.Priority.' + (taskRef.priority ?? 'null')">{{
              { null: '', LOWEST: 'LOWEST', LOW: 'LOW', MEDIUM: 'MEDIUM', HIGH: 'HIGH', HIGHEST: 'HIGHEST' }[taskRef.priority ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gestionTachesApp.task.createdAt">Created At</span></dt>
          <dd>
            <span>{{ taskRef.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gestionTachesApp.task.updatedAt">Updated At</span></dt>
          <dd>
            <span>{{ taskRef.updatedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gestionTachesApp.task.sprint">Sprint</span></dt>
          <dd>
            @if (task()!.sprint) {
              <div>
                <a [routerLink]="['/sprint', task()!.sprint?.id, 'view']">{{ taskRef.sprint?.name }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gestionTachesApp.task.epic">Epic</span></dt>
          <dd>
            @if (task()!.epic) {
              <div>
                <a [routerLink]="['/epic', task()!.epic?.id, 'view']">{{ taskRef.epic?.title }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gestionTachesApp.task.createdBy">Created By</span></dt>
          <dd>
            @if (taskRef.createdBy) {
              <span>{{ taskRef.createdBy.login }}</span>
            } @else {
              <span class="text-muted" jhiTranslate="global.messages.notAssigned"></span>
            }
          </dd>
          <dt><span jhiTranslate="gestionTachesApp.task.assignee">Assignee</span></dt>
          <dd>
            @if (taskRef.assignee) {
              <span>{{ taskRef.assignee.login }}</span>
            } @else {
              <span class="text-muted" jhiTranslate="global.messages.unassigned"></span>
            }
          </dd>
          <dt><span jhiTranslate="gestionTachesApp.task.project">Project</span></dt>
          <dd>
            @if (task()!.project) {
              <div>
                <a [routerLink]="['/project', task()!.project?.key, 'view']">{{ taskRef.project?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/task', taskRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
