<nav class="bottom-nav">
  <a class="bottom-nav-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <fa-icon icon="home" />
    <span class="bottom-nav-label" jhiTranslate="global.menu.home">Accueil</span>
  </a>

  @if (account() !== null) {
    <a class="bottom-nav-item" routerLink="/project" routerLinkActive="active">
      <fa-icon icon="folder" />
      <span class="bottom-nav-label">Projects</span>
    </a>

    <a class="bottom-nav-item" routerLink="/project" routerLinkActive="active">
      <fa-icon icon="tasks" />
      <span class="bottom-nav-label">Tasks</span>
    </a>
  }

  @if (account() !== null) {
    <a class="bottom-nav-item" routerLink="/account/settings" routerLinkActive="active">
      <fa-icon icon="cog" />
      <span class="bottom-nav-label">Settings</span>
    </a>
  } @else {
    <a class="bottom-nav-item" routerLink="/login" routerLinkActive="active">
      <fa-icon icon="sign-in-alt" />
      <span class="bottom-nav-label">Login</span>
    </a>
  }
</nav>
