<nav class="bottom-nav">
  <a class="bottom-nav-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <fa-icon icon="house" />
    <span class="bottom-nav-label" jhiTranslate="global.menu.home">Accueil</span>
  </a>

  @if (account() !== null) {
    <a class="bottom-nav-item" routerLink="/project" routerLinkActive="active">
      <fa-icon icon="folder" />
      <span class="bottom-nav-label" jhiTranslate="global.menu.entities.project">Projects</span>
    </a>

    <a class="bottom-nav-item" routerLink="/project" routerLinkActive="active">
      <fa-icon icon="list-check" />
      <span class="bottom-nav-label" jhiTranslate="global.menu.entities.task">Tasks</span>
    </a>
  }

  @if (account() !== null) {
    <a class="bottom-nav-item" routerLink="/account/settings" routerLinkActive="active">
      <fa-icon icon="gear" />
      <span class="bottom-nav-label" jhiTranslate="global.menu.account.settings">Settings</span>
    </a>
  } @else {
    <a class="bottom-nav-item" routerLink="/login" routerLinkActive="active">
      <fa-icon icon="right-to-bracket" />
      <span class="bottom-nav-label" jhiTranslate="global.menu.account.login">Login</span>
    </a>
  }
</nav>
