<div class="d-flex justify-content-center">
  <div class="col-12 col-lg-8">
    @if (comment(); as commentRef) {
      <div>
        <h2 data-cy="commentDetailsHeading"><span jhiTranslate="gestionTachesApp.comment.detail.title">Comment</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="gestionTachesApp.comment.content">Content</span></dt>
          <dd>
            <span>{{ commentRef.content }}</span>
          </dd>
          <dt><span jhiTranslate="gestionTachesApp.comment.createdAt">Created At</span></dt>
          <dd>
            <span>{{ commentRef.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gestionTachesApp.comment.task">Task</span></dt>
          <dd>
            @if (comment()!.task) {
              <div>
                <a [routerLink]="['/task', comment()!.task!.id, 'view']">{{ commentRef.task!.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/comment', commentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil" />&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
