<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-action-history-heading"
        data-cy="ActionHistoryCreateUpdateHeading"
        jhiTranslate="gestionTachesApp.actionHistory.home.createOrEditLabel"
      >
        Créer ou éditer un Action History
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let actionRef = editForm.get('action')!;
        <div class="mb-3">
          <label class="form-label" for="field_action" jhiTranslate="gestionTachesApp.actionHistory.action">Action</label>
          <input type="text" class="form-control" name="action" id="field_action" data-cy="action" formControlName="action" />
          @if (actionRef.invalid && (actionRef.dirty || actionRef.touched)) {
            <div>
              @if (editForm.get('action')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('action')?.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '1' }"
                  >Ce champ doit faire au moins 1 caractères.</small
                >
              }
              @if (editForm.get('action')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >Ce champ doit faire au maximum 100 caractères.</small
                >
              }
            </div>
          }
        </div>

        @let fieldChangedRef = editForm.get('fieldChanged')!;
        <div class="mb-3">
          <label class="form-label" for="field_fieldChanged" jhiTranslate="gestionTachesApp.actionHistory.fieldChanged"
            >Field Changed</label
          >
          <input
            type="text"
            class="form-control"
            name="fieldChanged"
            id="field_fieldChanged"
            data-cy="fieldChanged"
            formControlName="fieldChanged"
          />
          @if (fieldChangedRef.invalid && (fieldChangedRef.dirty || fieldChangedRef.touched)) {
            <div>
              @if (editForm.get('fieldChanged')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >Ce champ doit faire au maximum 100 caractères.</small
                >
              }
            </div>
          }
        </div>

        @let oldValueRef = editForm.get('oldValue')!;
        <div class="mb-3">
          <label class="form-label" for="field_oldValue" jhiTranslate="gestionTachesApp.actionHistory.oldValue">Old Value</label>
          <input type="text" class="form-control" name="oldValue" id="field_oldValue" data-cy="oldValue" formControlName="oldValue" />
          @if (oldValueRef.invalid && (oldValueRef.dirty || oldValueRef.touched)) {
            <div>
              @if (editForm.get('oldValue')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >Ce champ doit faire au maximum 500 caractères.</small
                >
              }
            </div>
          }
        </div>

        @let newValueRef = editForm.get('newValue')!;
        <div class="mb-3">
          <label class="form-label" for="field_newValue" jhiTranslate="gestionTachesApp.actionHistory.newValue">New Value</label>
          <input type="text" class="form-control" name="newValue" id="field_newValue" data-cy="newValue" formControlName="newValue" />
          @if (newValueRef.invalid && (newValueRef.dirty || newValueRef.touched)) {
            <div>
              @if (editForm.get('newValue')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >Ce champ doit faire au maximum 500 caractères.</small
                >
              }
            </div>
          }
        </div>

        @let createdAtRef = editForm.get('createdAt')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdAt" jhiTranslate="gestionTachesApp.actionHistory.createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdAtRef.invalid && (createdAtRef.dirty || createdAtRef.touched)) {
            <div>
              @if (editForm.get('createdAt')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdAt')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Ce champ doit être une date et une heure.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_issue" jhiTranslate="gestionTachesApp.actionHistory.issue">Issue</label>
          <select class="form-control" id="field_issue" data-cy="issue" name="issue" formControlName="issue" [compareWith]="compareIssue">
            @if (editForm.get(['issue'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (issueOption of issuesSharedCollection(); track $index) {
              <option [ngValue]="issueOption">{{ issueOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['issue'])!.invalid && (editForm.get(['issue'])!.dirty || editForm.get(['issue'])!.touched)) {
          <div>
            @if (editForm.get(['issue'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
