@if (items().length > 1) {
  <nav class="breadcrumb-bar" aria-label="breadcrumb">
    <ol class="breadcrumb-list">
      @for (item of items(); track $index; let last = $last) {
        <li class="breadcrumb-item" [class.active]="last">
          @if (item.route && !last) {
            <a [routerLink]="item.route" class="breadcrumb-link">{{ item.label }}</a>
          } @else {
            <span class="breadcrumb-text">{{ item.label }}</span>
          }
          @if (!last) {
            <fa-icon icon="chevron-right" class="breadcrumb-separator" />
          }
        </li>
      }
    </ol>
  </nav>
}
